In [20]:
import pymysql

In [2]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.2

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Connect to MySQL

In [15]:
connection = pymysql.connect(
    host='localhost',
    port= 3306,
    user='u6708142',
    password='6708142'
)

# Showing the databases

In [13]:
cursor= connection.cursor()
cursor.execute("SHOW DATABASES")
results= cursor.fetchall()
for row in results:
    print(row)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

# Create a database

In [14]:
cursor= connection.cursor()
cursor.execute('CREATE DATABASE u6708142_mydb;')
cursor.execute('SHOW DATABASES;')
results= cursor.fetchall()
for row in results:
    print(row[0])

information_schema
mysql
performance_schema
phpmyadmin
test
u6708142_mydb

# Manage table with mySQL

__Create a Table__

In [16]:
connection=pymysql.connect(
    host= 'localhost',
    port=3306,
    user='u6708142',
    password='6708142',
    database='u6708142_mydb'
)

In [22]:
cursor=connection.cursor()
cursor.execute('''
CREATE TABLE user(
    id INTEGER NOT NULL AUTO_INCREMENT,
    email VARCHAR(255) NOT NULL,
    fullname VARCHAR(255) NULL,
    PRIMARY KEY (id)
)
''')

OperationalError: (1050, "Table 'user' already exists")

In [23]:
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for row in results:
    print(row)

('user',)

__Altering the structure of a datebase table__

In [24]:
cursor= connection.cursor()
cursor.execute("ALTER TABLE user ADD city VARCHAR(255) NOT NULL AFTER fullname")
cursor.execute("DESCRIBE user")

results= cursor.fetchall()
for row in results:
    print(row)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('email', 'varchar(255)', 'YES', '', None, '')
('fullname', 'varchar(255)', 'YES', '', None, '')
('city', 'varchar(255)', 'NO', '', None, '')

__Activity 1__

In [49]:
connection=pymysql.connect(
    host= 'localhost',
    port=3306,
    user='u6708142',
    password='6708142',
    database='u6708142_mydb2'
)

cursor=connection.cursor()
cursor.execute('''
CREATE TABLE patient(
    id INTEGER NOT NULL AUTO_INCREMENT,
    hospcode INT(10) NOT NULL,
    pid VARCHAR(255) NOT NULL,
    chronic VARCHAR(255) NOT NULL,
    PRIMARY KEY (id)
)
''')
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for row in results:
    print(row)

('patient',)

In [31]:
cursor= connection.cursor()
cursor.execute("DESCRIBE patient")

results= cursor.fetchall()
for row in results:
    print(row)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('hospcode', 'int(10)', 'NO', '', None, '')
('pid', 'varchar(255)', 'NO', '', None, '')
('chronic', 'varchar(255)', 'YES', '', None, '')

# Insert Data into table

In [35]:
import pymysql
connection = pymysql.connect(
    host='localhost',
    user='u6708142',
    password='6708142',
    database='u6708142_mydb'
)

In [37]:
cursor= connection.cursor()
cursor.execute('''
INSERT INTO user (email,fullname,city) VALUES(%s, %s, %s)
''', ('aung@rsu.ac.th', 'Aung', 'Bangkok'))
connection.commit()
cursor.rowcount

1

In [39]:
users= [
    ('ana@me.com', 'Ana', 'Phuket'),
    ('beer@me.com', 'Beer', 'Nonthaburi'),
    ('min@me.com', 'Min', 'Pathumthani')
]

cursor.executemany('''
INSERT INTO user (email, fullname, city) VALUES(%s, %s, %s)
''', users)
connection.commit()
cursor.rowcount

3

In [42]:
import pandas as pd
df= pd.read_csv('user.csv')
df

            email     name           city
0    alice@me.com    Alice        Bangkok
1      bob@me.com      Bob     Chiang Mai
2  charlie@me.com  Charlie      Ayutthaya
3    david@me.com    David        Pattaya
4      eve@me.com      Eve          Krabi
5    frank@me.com    Frank    Surat Thani
6    grace@me.com    Grace       Chonburi
7   hannah@me.com   Hannah         Rayong
8      ian@me.com      Ian   Samut Prakan
9     jane@me.com     Jane  Nakhon Pathom

In [43]:
users= [tuple(row) for row in df.itertuples(index=False)]

cursor.executemany('''
INSERT INTO user (email, fullname, city) VALUES(%s, %s, %s)
''',users)
connection.commit()
cursor.rowcount

10

__Activity 2__

In [57]:
df= pd.read_csv('chronic_2016_90_all.csv')
newdf= df[['HOSPCODE','PID', 'CHRONIC']]
newdf

C:\Users\6708142\AppData\Local\Temp\ipykernel_13256\1256843800.py:1: DtypeWarning: Columns (1,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('chronic_2016_90_all.csv')

        HOSPCODE    PID CHRONIC
0           9435  10002     I10
1           9435  10007     I10
2           9435  10019     I10
3           9435  10031    E119
4           9435  10036    E119
...          ...    ...     ...
642471     99782    996     J46
642472     99782   9964     I10
642473     99782    997     I10
642474     99782   9982     J46
642475     99782   9989     J46

[642476 rows x 3 columns]

In [61]:
connection = pymysql.connect(
    host='localhost',
    user='u6708142',
    password='6708142',
    database='u6708142_mydb2'
)

In [62]:
patients= [tuple(row) for row in newdf.itertuples(index=False)]

cursor.executemany('''
INSERT INTO patient (hospcode, pid, chronic) VALUES(%s, %s, %s)
''',patients)
connection.commit()
cursor.rowcount

642476